<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LAICHE Nacera</title>
    <link rel="shortcut icon" href="../images/picture-usthb-logo.png" />
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="https://www.usthb.dz/" target="_blanc"><img src="../images/picture-usthb-logo.png" class="nav__img-usthb" /></a>
        <img src="../images/picture-computer-vision.jpg" class="nav__img-field" />
        <a href="https://lria.usthb.dz/" target="_blanc"><img src="../images/picture-labo-lria.jpg" class="nav__img-labo" /></a>
      </nav>
    </header>
    <aside>
      <ul>
        <li class="aside__acts">
          &#x2192 Activités Pédagogiques
          <ul>
            <li id="ens">
              <ul >Enseignements
                <li id="ens">
                  <ul>Licence
                    <li>L1 MI</li>
                    <li>L2 ISIL</li>
                  </ul>
                </li>
                <li id="ens">
                  <ul>Master
                  <li>Master 1 IV</li>
                  <li>Master 1 HPC</li>
                  </ul>
                </li>
                <li>Ingéniorat</li>
              </ul>
            </li>
            <li id="ens">
              <ul>Encadrement
                <li><a href="#mas">Projets de Master</a></li>
                <li><a href="#lic">Projets de Licence</a></li>
                <li><a href="#ing">Projets d'ingénieurs</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="aside__acts">
          &#x2192 Activités Scientifiques
          <ul>
            <li>Publications Internationales</li>
            <li>Communications Internationales</li>
            <li id="ens"><ul>Animations de la Recherche
              <li>Comités de Programme</li>
            </ul> </li>
            <li>Doctorants</li>
            <li>Ouvrages</li>
          </ul>
        </li>
      </ul>
    </aside>
    <main class="encadrement">
      <h1>Encadrement</h1>
      <h2 id="mas">Projets de Master</h2>
      <p>Plusieurs projets de fin d’études ont été proposés pour les étudiants de master 2 dont les thèmes de recherche tournent autour de :</p>
      <ul>
        <li>Application Android pour la reconnaissance d’objets réels.</li>
        <li>Segmentation et description des scènes réelles pour une application mobile.</li>
        <li>Modélisation géométrique des formes d’objets moyennant des attributs géométriques.</li>
        <li>Représentation des formes d’objets par des courbes 2D.</li>
        <li>Modélisation multi-résolution des formes 2D pour la reconnaissance d’objets.</li>
        <li>Classification des silhouettes d’objets 3D et recherche dans les bases d’objets.</li>
        <li>Optimisation de la reconnaissance d’images 2D en appliquant la programmation dynamique.</li>
        <li>Classification et reconnaissance des objets planaires par les courbes B-Splines.</li>
        <li>Utilisation des algorithmes génétiques pour la modélisation géométrique des formes d’objets.</li>
        <li>Modélisation des formes d’objets par des courbes à multi-résolution.</li>
        <li>Modélisation et recherche de formes dans une base d’images par des courbes et les algorithmes génétiques.</li>
        <li>Reconnaissance optimale des formes d’objets des plantes.</li>
        <li>Application de la texture et de la couleur pour la modélisation et la reconnaissance d’objets réels.</li>
        <li>Reconstruction parallèle d’images médicales.</li>
      </ul>
      <h2 id="lic">Projets de Licence</h2>
      <p>Plusieurs projets de fin d’études ont été proposés pour les étudiants de licence 3 dont les thèmes de recherche tournent autour de :</p>
      <ul>
        <li>Application mobile pour la reconnaissance de quelques objets réels via la texture, des moments géométriques, et la couleur.</li>
        <li>Modélisation et Reconnaissance des espèces des feuilles de plantes.</li>
        <li>Descripteur géométrique basé contour pour la reconnaissance d’objets.</li>
        <li>Reconnaissance d’objets 2D par des descripteurs géométriques.</li>
        <li>Caractérisation des feuilles plantes.</li>
        <li>Approximation paramétrique des contours d’objets.</li>
        <li>Description des formes d’objets par des parties significatives.</li>
        <li>Classification des formes d’objets.</li>
        <li>Appariements des formes par des courbes normalisées.</li>
        <li>Recherche d’objets 2D dans une base d’images moyennant des moments géométriques.</li>
        <li>Utilisation des courbes des moindres carrés pour la reconnaissance de formes.</li>
        <li>Utilisation des moments de Krawtchouk pour la représentation et la classification des objets 2D.</li>
      </ul>
      <h2 id="ing">Projets d'ingénieurs</h2>
      <p>Quelques projets de fin d’études ont été proposés pour les ingénieurs dont les thèmes de recherche tournent autour de :</p>
      <ul>
        <li>Appariement des formes par les moindres carrés.</li>
        <li>Représentation invariante au facteur d’échelle pour la reconnaissance d’objets.</li>
        <li>Description géométrique des silhouettes d’objets en vue de leur reconnaissance.</li>
        <li>Transformation des images de haute résolution en formes curvilignes par filtrage numérique et segmentation d’objets vectoriels.</li>
        <li>Description géométrique des silhouettes d’objets moyennant les points de courbures.</li>
        <li>Contribution à une base d’images pour la reconnaissance en utilisant des descripteurs géométriques.</li>
        <li>Indexation d’une base d’images en utilisant les quasis-invariants géométriques.</li>
      </ul>
    </main>
  </body>
</html>
